[user]
	name = AMRL user
	email = amrl_user@gmail.com
[credential]
	helper = store
[remote "origin"]
	prune = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[safe]
	directory = *
